/* 
*! Style rules for section One 
*/

.sectionOne__Left--text {
  font-size: var(--body);
  color: var(--color-white-75);
  font-family: var(--font-2);
}
.sectionOne__Left--text p {
  text-align: justify;
  text-justify: inter-word;
}
.sectionOne__Left--btn {
  align-self: start;
  margin-top: 20px;
}

/* 
*! Style rules for section Two 
*/

.sectionTwo{
  padding: 40px 0px;
  display: grid;
  gap: 30px;
}

.sectionTwo__content--text {
  font-family: var(--font-2);
  font-size: var(--sub);
}

.sectionTwo__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sectionTwo__logo img {
  justify-self: center;
  align-self: center;
}

.sectionTwo__btn {
  justify-self: center;
}
