/* 
*! Style rules for section One 
*/

.sectionOne__Left--text {
  font-size: var(--body);
  color: var(--color-white-75);
  font-family: var(--font-2);
}
.sectionOne__Left--text p {
  text-align: justify;
  text-justify: inter-word;
}
.sectionOne__Left--btn {
  align-self: start;
  margin-top: 20px;
}

/* 
*! Style rules for section Two 
*/

.sectionTwo {
  padding: 40px 0px;
  display: grid;
  gap: 30px;
}

.sectionTwo__content--text {
  font-family: var(--font-2);
  font-size: var(--sub);
}

.sectionTwo__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sectionTwo__logo img {
  justify-self: center;
  align-self: center;
}

.sectionTwo__btn {
  justify-self: center;
}

/* 
*! Style rules for section Three
*/
.sectionThree__right--text {
  color: var(--color-dark-50);
  font-family: var(--font-2);
  font-size: var(--body);
}

.sectionThree__right--btn {
  align-self: center;
}

/* Section Four Start  */
.sectionFour__left--text {
  color: var(--color-dark-50);
  font-family: var(--font-2);
  font-size: var(--body);
}
.sectionFour__left--btn {
  align-self: center;
}
/* Section Four End  */

/* Start Section Five */

.sectionFive {
  display: grid;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sectionFive__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

.sectionFive__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

[class^="sectionFive__cards--"] {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-1);
  border-radius: 5px;
  padding: 20px 25px;
  gap: 15px;
}
[class^="sectionFive__cards--"] .name {
  color: red;
  font-family: var(--font-1);
  font-size: var(--h5);
  font-weight: bold;
  text-align: center;
}

[class^="sectionFive__cards--"] .position {
  font-family: var(--font-2);
  color: var(--color-dark-75);
  text-transform: uppercase;
  text-align: center;
}
.sectionFive__btn {
  justify-self: center;
}
/* End Section Five */

/* Media Query */

@media (max-width: 1200px) {
  .sectionFive__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .sectionTwo__logo {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .sectionOne__Right,
  .sectionFour__Right {
    order: 0;
  }
  .sectionOne__Left,
  .sectionFour__left {
    order: 1;
  }

  .sectionFive__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  .sectionFive__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .sectionTwo__logo {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
